.hero-section {
   background-image: url(img/catiarayuz.png);
    
    background-size: cover; 
    
    background-position: center; 
    
    color: rgb(255, 255, 255); 
    
    padding: 10rem 0;
    font-family: 'Times New Roman', Times, serif;
}


.hero-section h1 {
    font-weight: bold;
   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


body {
    
    background-image:url(img/dk1.jpeg);
    
    
    background-repeat: repeat;
    
    
    background-attachment: fixed; 
}


.product-card {
  position: relative;
  
  
  border-radius: 0.5rem; 
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
  cursor: pointer;
  
  height: 400px; 
}

.product-card-img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  display: block;
  
  transition: filter 0.3s ease-in-out;
}

.product-card-content {
  position: absolute;
  
  bottom: 0;
  left: 0;
  right: 0; 
  
  padding: 1.25rem;
  color: white; 
  
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 100%);
  
  z-index: 2;
}

.product-card:hover .product-card-img {
  filter: brightness(60%);
}
